
* { margin: 0; padding: 0; }
body { width: 100%; height: 100%; }

/*EXTRA ice */ 

#AverageOut { 
	margin: 100px auto 0 auto; 
	// width: 500px;
	// _width: 500px;
} 

#AverageIn { 
	height: auto; 
	overflow: hidden; 
	// _width: 500px;
	// width: inherit;
} 

#AverageIn ul { list-style: none; }
#AverageIn li { float: left; } 

#AvgBtnCon { display: none; margin-top: 1em; }
#AvgBtnCon button { 
	padding: 1em; 
	margin-right: 1em; 
	border-radius: 10px; 
	// -ms-border-radius: 10px; 
	// -webkit-border-radius: 10px; 
	// -moz-border-radius: 10px; 
	// -o-border-radius: 10px; 
	cursor: pointer; 
}

